.main {
  text-align: left;
}

.main h1 {
  text-align: center;
}

.main h2 {
  text-align: left;
}

.main p {
  text-align: left;
}

.heading {
  padding-top: 2vh;
}

.webPrivacyList {
  list-style: inside;
  text-decoration: none;
  text-align: left;
}
