.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;

    .linkColumn {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            margin: 0;
            width: 20px;
            height: 20px;
        }

        a {
            padding: 0;
        }
    }
}

.linkRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    img {
        display: block;
    }
}
