@import "tailwindcss";

:root {
  --foreground-rgb-white: rgb(255, 255, 255);
  --foreground-rgb-black: rgb(50, 50, 50);
  --background-rgb-light: rgb(211, 211, 211);
  --background-rgb-dark: #1F4959;
  --body-light: #011425;
  --body-dark: rgb(31, 31, 31);
  overscroll-behavior: none;
}

body {
  padding: 0;
  margin: 0 0 3rem;
  color: var(--foreground-rgb-white);
  background-color: var(--body-light);
}

h1 {
  font-size: 32px;
  text-align: left;
  padding: 1rem 0rem;
}

h2 {
  font-size: 24px;
  padding: 0.7rem 0rem;
}

h3 {
  font-size: 20px;
  padding: 0.5rem 0rem;
}

a {
  text-decoration: underline;
}

main {
  padding-top: 6rem;
  text-align: left;
  margin: auto;
  max-width: 800px;
}
