.background {
  background-color: var(--background-rgb-dark);
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;
  border-radius: 25px;
}

.backgroundMobile {
  margin: 150px auto;
  background-color: var(--background-rgb-dark);
  background-position: center;
  display: block;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  border-radius: 25px;
  clear: both;
  text-align: center;
}

.column {
  display: inline-grid;
  flex: 1;
  padding: 20px 25px;
}

.content {
  padding-top: 4.5rem;
}

.innerLinkDiv {
  padding-top: 6px;
}

.outerLinkDiv {
  padding-top: 20px;
}

.spacer {
  margin: 150px;
  height: 700px;
}

.profile {
  margin: 20px;
}
